@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the todo app!</h1>
    <p>
        The ToDo application introduces organization in day-to-day tasks.
        <br>
        It is a great performance booster for organizations and individuals, working on multiple projects.
    </p>
</div>
